:root {
  --width: 62em;
  --padding: 1em;
  --qatar-bg:#8d1b3d;
}

main {
  min-height: 82vh;
  max-width: var(--width);
  padding: var(--padding);
  margin: 0 auto;
}

/* layout */
nav {
  max-width: 70em;
  padding: var(--padding);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 4em;
}
nav .avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

nav .links {
  display: flex;
  align-items: center;
}

button{
  background-color: var(--qatar-bg);
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
}

/*home page*/
.count-down {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(146, 0, 0);
}
.count-down-item {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-down-item span:first-of-type {
  font-size: 2.5em;
}
.count-down-item span:last-of-type {
  font-size: 0.7em;
}

.rules {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-block: 1em;
}
.rules > div {
  max-width: 30em;
  height: auto;
  padding: 1em;
  border: 1px #333 solid;
  border-radius: 0.5em;
}
.emoji {
  width: 3em;
}
/*groups*/
.group-container{
  text-align: center;
}
.group{
  overflow-x: scroll;
  margin-bottom: 2em;
}
.group::-webkit-scrollbar {
  display: none;
}
table{
  width: 100%;
}

table th,
table tr{ min-width: 5em;
margin-block: 0.5em;
font-weight: 500;
}

table .group-team{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  width: 170px;
  padding-left: 1em;
}

/*games*/
.date-picker{
  width: 50%;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: var(--qatar-bg);
  color: white;
  margin-bottom: 2em;
  text-align: center;
  
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.date-btns{
  display: flex;
  justify-content: space-around;
}
.matches-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.match-card {
  padding: 0;
  border: 1px #333 solid;
  border-radius: 0.5em;
  width: 20em;
  height: 10em;
  margin-block: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--qatar-bg);
  color: white;
}
.match-card span{
  font-size: 0.825em;
}
.match-teams{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.shdow{
  box-shadow: 1px 1px 2px #333;
  height: 2.5em;
}
.time-date {
  width: 100%;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  color: #333;
}

@media screen and (max-width: 48em) {
  main{
    margin-bottom: 4em;
  }
  .rules {
    flex-direction: column;
  }
  nav .links{
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--qatar-bg);
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .links a{
    color: white;
  }
  .date-picker{
    width: 100%;
  }
  footer{
    display: none;
  }
}
