:root {
  --width: 62em;
  --padding: 1em;
  --qatar-bg:#8d1b3d;
}

main {
  min-height: 82vh;
  max-width: var(--width);
  padding: var(--padding);
  margin: 0 auto;
}

/* layout */
nav {
  max-width: 70em;
  padding: var(--padding) 0.5em 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 6em;
}
.avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

nav .links {
  display: flex;
  align-items: center;
}

nav .links :is(a, span){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
}

.sign-in span{
    font-weight: 500;
    color: #333;
    text-decoration: inherit;
    padding: 0 0.5em;
}

button{
  border: 1px solid var(--qatar-bg);
  color: var(--qatar-bg);
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}
.mr{
  margin-right: 0.5em;
}

/*home page*/
.count-down {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(146, 0, 0);
}
.count-down-item {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-down-item span:first-of-type {
  font-size: 2.5em;
}
.count-down-item span:last-of-type {
  font-size: 0.7em;
}

.rules {
  text-align: center;
  margin-inline: auto;
  margin-block: 1em;
  max-width: 30em;
  padding: 1em;
  border: 1px #333 solid;
  border-radius: 0.5em;
}

.group-list{
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  justify-content: center;
}


.group-card{
  min-width: 20em;
  height: 22em;
  border-radius: 10em 10em 10em 50%/1.25em;
  background-color: var(--qatar-bg);
  margin:0.5em ;
  padding: 1em;
  color: white;
}

.group-card > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.group-card div:first-of-type{align-items: flex-end;}
.group-card :is(h3, h4){
  flex-basis: 60%;
}
.group-card h3{
  margin-top: 0.25em;
}
.group-card h4{
  display: flex;
  align-items: center;
}

/*groups*/
.group-container{
  text-align: center;
}
.group{
  overflow-x: scroll;
  margin-bottom: 2em;
}
.group::-webkit-scrollbar {
  display: none;
}
table{
  /* width: 100%; */
  margin-inline: auto;
}

table th,
table tr{ min-width: 3em;
margin-block: 0.5em;
font-weight: 500;
}

table .group-team{
  display: flex;
  width: 12em;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  padding-left: 1em;
}

/*games*/
.matches{
  text-align: center;
}
.date-picker{
  width: 50%;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  background-color: var(--qatar-bg);
  color: white;
  margin-bottom: 2em;
  text-align: center;
  
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.date-btns{
  display: flex;
  justify-content: space-around;
}
.matches-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.match-card {
  padding: 0;
  border: 1px #333 solid;
  border-radius: 0.5em;
  width: 18em;
  margin-block: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--qatar-bg);
  color: white;
}
.match-card span{
  font-size: 0.825em;
  
}
.match-teams{
  width: 100%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.match-teams > div {
  width: 100%;
display: flex;
align-items: center;
}
.team-score{margin-left: auto;}
.shadow{
  box-shadow: 1px 1px 2px #333;
  height: 1.5em;
}
.time-date {
  width: 100%;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  color: #333;
}
.match-card-footer{
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*rankings*/
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  
}
.player-card{
  position: relative;
  padding-top: 2em;
  width: 12em;
  height: 16em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../public/images/fifa_shield2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  z-index: -1;
}
.rank{
  position: absolute;
  top: 1em;
  right: 1.3em;
  font-size: large;
  font-weight: 900;
  font-style: italic;
}
.player-card h4{
  margin-block-end: 0.5em;
}
.player-img{
  width: 5em;
  height: 5em;
  border-radius: 50%;
}
.player-stats{
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-stats span{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 48em) {
  main{
    margin-bottom: 4em;
  }
  .rules {
    flex-direction: column;
  }
  nav .links{
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--qatar-bg);
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .links :is(a,span){
    color: white;
  }
  .group-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    height: 25em;
  }
  .group-list::-webkit-scrollbar{
    display: none;
  }
  
  .date-picker{
    width: 100%;
  }
  footer{
    display: none;
  }
}
